<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.kuro.dinner">
    <!-- 开启网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许访问wifi状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookDinner"
        tools:targetApi="31">

        <!-- OPPO、VIVO 刘海屏适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" /> <!-- 小米 刘海屏适配 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 登录页面 -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" /> <!-- 我的余额 -->
        <activity
            android:name=".ui.BalanceActivity"
            android:exported="false" /> <!-- 收货地址 -->
        <activity
            android:name=".ui.AddressActivity"
            android:exported="false" /> <!-- 支付 -->
        <activity
            android:name=".ui.PayActivity"
            android:exported="false" /> <!-- 评价 -->
        <activity
            android:name=".ui.AppraiseActivity"
            android:exported="false" /> <!-- 购物车 -->
        <activity
            android:name=".ui.CartActivity"
            android:exported="false" /> <!-- 跑腿 -->
        <activity
            android:name=".ui.RunActivity"
            android:exported="false" />
        <!-- 退款 -->
        <activity
            android:name=".ui.RefundmentActivity"
            android:exported="false" />
    </application>

</manifest>